@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.react-tel-input .form-control {
    @apply !w-full py-6 !text-base;
}

.opt-container {
    @apply flex justify-between gap-2;
}

.op-container input {
    @apply !mr-0 flex-1 py-5 outline-none;
}

.verify-phone-number-section {
    background-color: rgb(167, 167, 216);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.otp-input-container {
    display: flex;
    justify-content: center;
}